#banana {
	color: yellow;
}

* {
	font-family: serif;
	font-size: 20px;
} 
 
h1 {
	font-size: 75px;
}

#apple {
	text-transform: uppercase;
}

.lemon {
	background-color: lightgreen;
}

li[class="dragonfruit"] {
	border-width: 2px;
	border-style: solid;
	border-color: blue;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 100px;
	width: 100px;
	border-radius: 400px;
}

h4 ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 10px;
}